body{
  font-size: 36px;
  background: #ffffff;
  color: #000000;
  text-align: left;
  font-style: italic;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {

body{
   background-color: #ffffff;
  }
}
